@import url("https://fonts.googleapis.com/css2?family=Raleway:wght@100;200;300;400;500;600;700;800;900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Playfair+Display:wght@400;600;800&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700&display=swap");

* {
  margin: 0;
  padding: 0; }

body {
  background-color: #242B33;
  color: #FFFFFF; }

a {
  text-decoration: none;
  color: #FFFFFF; }

button {
  border: none; }

input {
  border: none; }

.header {
  width: 100%;
  height: 100vh;
  background: linear-gradient(180deg, #242b33 0%, rgba(36, 43, 51, 0.6) 50%, #242b33 100%), url("./../img/header_bg.png");
  background-size: cover;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center; }
  .header__topblock {
    width: 1110px;
    margin-top: 20px;
    flex: 0;
    display: flex;
    justify-content: space-between;
    align-items: center; }
  .header__mainblock {
    width: 100%;
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center; }
  .header__logo {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-family: Raleway;
    font-size: 12px;
    font-weight: 400;
    line-height: 14px;
    letter-spacing: 0,12em; }

.menu {
  width: 541px;
  display: flex;
  justify-content: space-between;
  align-items: center; }
  .menu--column {
    flex-direction: column;
    align-items: center; }
  .menu__item {
    text-decoration: none;
    font-family: Raleway;
    font-size: 14px;
    font-weight: 400;
    line-height: 16px;
    letter-spacing: 0,05em; }

.content {
  width: 582px;
  height: 470px;
  margin: auto;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center; }
  .content__h1 {
    font-family: "Playfair Display";
    font-size: 48px;
    font-weight: 700;
    line-height: 64px;
    letter-spacing: 0em;
    text-align: center;
    color: #D4C17F; }
  .content__block--flex {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center; }
  .content__text {
    font-family: Raleway;
    font-size: 18px;
    font-weight: 400;
    line-height: 21px;
    letter-spacing: 0em;
    text-align: center; }
  .content__location {
    position: relative;
    margin-left: 20px; }
    .content__location::before {
      content: "";
      position: absolute;
      left: -36px;
      width: 21px;
      height: 21px;
      background-image: url("./../img/placeholder.png");
      background-size: contain;
      background-position: center;
      background-repeat: no-repeat; }
  .content__tel {
    position: relative;
    margin-left: 110px; }
    .content__tel::before {
      content: "";
      position: absolute;
      left: -36px;
      width: 21px;
      height: 21px;
      background-image: url("./../img/phone-call.png");
      background-size: contain;
      background-position: center;
      background-repeat: no-repeat; }

.dignity {
  width: 900px;
  margin: 120px auto;
  display: flex;
  justify-content: center;
  align-items: flex-start; }
  .dignity__card {
    max-width: 195px;
    margin: 0 35px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center; }
  .dignity__text {
    margin-top: 53px;
    text-align: center;
    font-family: Roboto;
    font-size: 20px;
    font-weight: 300;
    line-height: 27px;
    letter-spacing: 0em; }

.apartments {
  width: 1100px;
  height: 806px;
  margin: 0 auto; }
  .apartments__title {
    color: #D4C17F;
    font-family: Playfair Display;
    font-size: 36px;
    font-weight: 700;
    line-height: 48px;
    letter-spacing: 0em;
    text-align: left;
    margin-bottom: 100px; }
  .apartments__gallery {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap; }
  .apartments__card {
    position: relative;
    width: 535px;
    height: 320px; }
    .apartments__card:nth-child(odd) {
      background: linear-gradient(180deg, rgba(36, 43, 51, 0) 0%, #242B33 100%), url("./../img/apartments1.png"), #D4C17F; }
    .apartments__card:nth-child(even) {
      background: linear-gradient(180deg, rgba(36, 43, 51, 0) 0%, #242B33 100%), url("./../img/apartments2.png"), #D4C17F; }
    .apartments__card:nth-child(1), .apartments__card:nth-child(2) {
      margin-bottom: 30px; }
  .apartments__text {
    position: absolute;
    width: 353px;
    height: 22px;
    left: 50px;
    bottom: 50px;
    font-family: Raleway;
    font-size: 24px;
    line-height: 28px;
    color: #FFFFFF; }

.feedback {
  width: 100%;
  height: 560px;
  background: linear-gradient(180deg, #242B33 10.42%, rgba(36, 43, 51, 0) 50.52%, #242B33 90.1%), linear-gradient(0deg, rgba(36, 43, 51, 0.9), rgba(36, 43, 51, 0.9)), url("./../img/buildings_bg.png"), #C4C4C4;
  display: flex;
  justify-content: center;
  align-items: center; }
  .feedback--bottom {
    height: 136px;
    background: none;
    margin-bottom: 180px; }
  .feedback__wrap {
    width: 1110px;
    height: 200px;
    display: flex;
    justify-content: space-between;
    align-items: flex-end; }
    .feedback__wrap--bottom {
      flex-direction: column;
      align-items: flex-start; }
  .feedback__content {
    width: 540px;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between; }
  .feedback__title {
    font-family: "Playfair Display";
    font-size: 36px;
    font-weight: 700;
    line-height: 48px;
    letter-spacing: 0em;
    text-align: left;
    color: #D4C17F; }
  .feedback__text {
    font-family: Raleway;
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
    letter-spacing: 0em;
    text-align: left; }
  .feedback__form {
    width: 540px; }
    .feedback__form--bottom {
      width: 1115px; }

INPUT[type="text"],
INPUT[type="tel"] {
  color: #FFFFFF;
  font-family: Raleway;
  font-size: 14px;
  font-weight: 400;
  line-height: 27px;
  letter-spacing: 0em;
  text-align: center; }

.form {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap; }
  .form--bottom {
    flex-wrap: nowrap; }
  .form__input {
    height: 50px;
    width: 255px;
    background: rgba(255, 255, 255, 0.2);
    margin-bottom: 35px; }
    .form__input--bottom {
      margin: 0; }
    .form__input::-moz-placeholder {
      color: #FFFFFF;
      font-family: Raleway;
      font-size: 14px;
      font-weight: 400;
      line-height: 27px;
      letter-spacing: 0em;
      text-align: center; }
    .form__input:-ms-input-placeholder {
      color: #FFFFFF;
      font-family: Raleway;
      font-size: 14px;
      font-weight: 400;
      line-height: 27px;
      letter-spacing: 0em;
      text-align: center; }
    .form__input::placeholder {
      color: #FFFFFF;
      font-family: Raleway;
      font-size: 14px;
      font-weight: 400;
      line-height: 27px;
      letter-spacing: 0em;
      text-align: center; }
  .form__text {
    font-family: Raleway;
    font-size: 13px;
    font-weight: 400;
    line-height: 16px;
    letter-spacing: 0em;
    text-align: center;
    padding: 0 5px; }
    .form__text--bottom {
      margin: 0;
      order: -1; }
  .form__button {
    font-family: Raleway;
    font-size: 16px;
    font-weight: 700;
    line-height: 27px;
    letter-spacing: 0em;
    text-align: center;
    height: 50px;
    width: 255px;
    color: #FFFFFF;
    background: #D4C17F; }
    .form__button--bottom {
      margin: 0; }

.video {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 180px; }
  .video__block {
    width: 719px;
    height: 650px;
    background-image: url("./../img/video.png"); }

.map {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 180px; }
  .map__block {
    width: 1110px;
    height: 494px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-start; }
  .map__title {
    font-family: "Playfair Display";
    font-size: 36px;
    font-weight: 700;
    line-height: 48px;
    letter-spacing: 0em;
    text-align: left;
    color: #D4C17F; }
  .map__image {
    width: 1110px;
    height: 358px;
    background-image: url("./../img/map.png");
    background-repeat: no-repeat;
    background-size: cover; }

.footer {
  width: 100%;
  height: 272px;
  background-color: #2D343C;
  display: flex;
  justify-content: center;
  align-items: center; }
  .footer__wrap {
    width: 1110px;
    display: flex;
    justify-content: space-between;
    align-items: flex-start; }

.contacts {
  height: 149px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-start; }
  .contacts__text {
    font-family: Raleway;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: 16px;
    letter-spacing: 0,05em;
    text-align: left; }
    .contacts__text--email {
      color: #D4C17F; }
  .contacts__socialblock {
    width: 165px;
    display: flex;
    justify-content: space-between;
    align-items: center; }
  .contacts__socialitem {
    height: 20px; }
    .contacts__socialitem--youtube {
      width: 29px;
      background: url("./../img/youtube.png"); }
    .contacts__socialitem--vk {
      width: 35px;
      background: url("./../img/vk.png"); }
    .contacts__socialitem--fb {
      width: 20px;
      background: url("./../img/fb.png"); }
    .contacts__socialitem--instagram {
      width: 20px;
      background: url("./../img/instagram.png"); }
